<h1>Form</h1>

<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter Name"> <br> <br>
  <input type="text" ngModel name="age" placeholder="Enter age"> <br> <br>
  <input type="text" ngModel name="city" placeholder="Enter city"> <br> <br>

  <button type="submit">Get</button>
</form>

<h1>Form Input</h1>
<div *ngIf="displayedValue">
  <p>Received Value:</p>
  <ul>
    <li *ngFor="let key of getObjectKeys(displayedValue)">
      {{ key }}: {{ displayedValue[key] }}
    </li>
  </ul>
</div>

